.card-wrapper {
  display: flex;
  width: auto;
  height: auto;
  padding: 10px;
  flex-direction: column;
  cursor: pointer;
  background: transparent !important;
  /* border: solid 1px whitesmoke; */
  transition-duration: 200ms;
}
.card-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.text-day {
  font-size: large;
  color: #42bed0;
}

.text-month {
  font-size: large;
  color: lightyellow;
}

.text-temperature {
  font-size: smaller;
  color: white;
}

.close-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  z-index: 100;
  transition-duration: 200ms;
}

.close-btn:hover {
  color: red;
}
