.app {
  display: absolute;
  text-align: center;
  width: auto;
  height: 100%;
  margin: 20px;
  top: 0;
  bottom: 0;
}

.body-container {
  padding: 20;
  background-color: white;
  height: 100%;
  display: absolute;
}

.card-opacity {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-wrapper {
  display: flex;
  flex-direction: row;
  width: 100;
  margin: 10px;
}

.weather-row {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.weather-col {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
  min-width: 150px;
  max-width: 200px;
}

.city-title {
  background-color: transparent;
  color: black;
  font-size: 3rem;
}

.country-title {
  background-color: transparent;
  color: dimgray;
  font-size: 2rem;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
